<%= link_to 'Show', @recipe %> &nbsp;| &nbsp;<%= link_to 'Back to recipes', recipes_path %>

<div class="row">
    <div class="col-sm-6 col-sm-offset-4">
        <h4>Editing recipe</h4>
        <%= render 'form' %>
    </div>
</div>


